* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: 1fr 31vh 31vh 31vh;
    background-color: gray;
    --ageColor: brown;
}

header {
    grid-column: 1 / span 2;
}

.display {
    background-color: darkgray;
}

.ai {
    color: white;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.player {
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
    max-width: 800px;
}

.progress {
    background-color: lightgray;
    grid-row: 2 / span 3;
}

.card {
    background-color: white;
    border: 2px solid black;
    width: 7vmin;
    aspect-ratio: 1/1.5;
    transition: transform 0.8s;
    perspective: 1000px; /* for flipping animation, if I get to that */
}

.card-flipped {
    background-color: black;
    color: black;
    transform: rotateY(180deg);
}

/* .card {
    grid-column: 4 / span 2;
    grid-row: 4 / span 3;
    background-color: transparent;
    width: 7vmin;
    aspect-ratio: 1/1.5;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid black;
}

.card-front {
    background-color: white;
    color: black;
}

.card-back {
    background-color: gray;
    color: white;
    transform: rotateY(180deg);
}

.card-flipped {
    transform: rotateY(180deg);
}

.card:hover {
    z-index: 3;
}

.card:hover .card-front {
    border: 3px solid black;
}

 */